
*{
   margin: 0px;
   padding: 0px;
    /* background: rgb(231, 228, 228); */
    
}


.for{
    text-align: center;
    position: relative;
    top: 50px;
    text-align: center;
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
    padding: 20px;
    width: 350px;
    margin: auto;
    position: absolute;
    right: 14%;
  
}
.img{
    background-color: #fafafa;
}
.tex{
    height: 39px;
    width: 262px;
    border-radius: 2px;
    margin-top: 30px;
    
    border: 0.5px solid#8e8eaa;
    background-color: #fafafa;
    padding-left: 19px;
}
#pass{ height: 39px;
    width: 262px;
    border-radius: 2px;
    margin-top: 10px;
    border: 1px solid#8e8eaa;
    background-color: #fafafa;
    padding-left: 19px;
}
.but{

    height: 38px;
    width: 285px;
    border-radius: 2px;
    margin-top: 18px;
    background-color:#a6dbfe;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: 1px solid#b2dffc;
  cursor: pointer;
   
    
}
.par{
    margin-top: 20px;
    background-color: #fafafa;
  
}
.pink{
  
    text-decoration: none;
    color: #0d8bf0;
    font-size: 17px;
    margin-top: 20px;
    background-color: #fafafa;
    cursor: pointer;
    


}
.fp{
   margin-top: 20px;
   background-color: #fafafa;
   cursor: pointer;
}
.don{
 
    height: 39px;
    width: 343px;
    border-radius: 2px;
    margin-top: -49px;
    
    border: 1px solid#d6d6d6;
    background-color: #fafafa;
   
    position: absolute;
    top: 500px;
    position: absolute;
    right: 14%;
    text-align: center;
    padding: 24px;
    padding-bottom: 3px;
    cursor: pointer;
   
    
}

.app{
    margin-top: 40px;
    cursor: pointer;
}
.imeg{
    margin-top: 20px;
}

.emg{
   position: relative;
   top: 40px;
   position: relative;
    right: -30%;
}
.emg2{
   margin: auto;
   position: absolute;
   top: 4%;
   margin-left: 157px;
   border-radius: 0 9px;
}
.mobile-img{
    border-radius: 5px ;

}

.p1{
    position: relative;
    right: -86px;
    bottom: 5px;
    display: inline-block;
}

.p2{
    position: relative;
    left: -84px;
    top: -4px;
   
    display: inline-block;
}